@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg: white;
  --textColor: black;
  --primary-bg: #8533bc;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
}
.dark {
  --bg: #0f172a;
  --textColor: #ddd;
  --primary-bg: #8533bc;

  --softBg: #2e1f3a;
  --softTextColor: #a6a6a6;
}
body {
  background: var(--bg);
  color: var(--textColor);
}
body::-webkit-scrollbar {
  display: none;
}
.container {
  overflow-x: hidden;
  max-width: 1380px;
  margin-inline: auto;
  padding-inline: 0.75rem;
}
.img-container {
  height: 450px;
  position: relative;
}
.image {
  object-fit: cover;
}
.menu {
  flex: 2;
}
.card-list {
  flex: 5;
}
.post-img {
  position: relative;
  height: 300px;
}
.post-box {
  min-height: 35vh;
}
.ql-container {
  font-size: 1.5rem !important;
}
.quill > .ql-container > .ql-editor.ql-blank::before {
  color: #b3b3b1;
}
@media screen and (max-width: 1536px) {
  .container {
    max-width: 1350px;
  }
}
@media screen and (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
  .title {
    font-size: 2rem;
  }
  .category-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .post-group {
    flex-direction: column;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
  .feature-grid {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 640px;
  }
  .login-heading{
    text-align: center;
    margin: 4rem 0 2rem 0;
    color: #000;
  }
  .login-text{
    display: none;
  }
  .home-text {
    font-size: 3.8rem;
  }
  .post-title {
    font-size: 1.5rem;
    line-height: 1.2;
  }
  .category-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .post-content {
    gap: 1rem;
  }
  .post-grid {
    gap: 1rem;
    grid-template-columns: 1fr;
  }
  .nav-menu {
    position: absolute;
    top: 6rem;
    background: var(--primary-bg);
    color: var(--softBg);
    right: 0;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease;
    opacity: 0;
    z-index: -1;
  }
  .show-menu {
    opacity: 1;
    z-index: 100;
  }
  .nav-links ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 5rem;
  }
  .nav-links ul li {
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
    padding-bottom: 1.5rem;
    border-bottom: 2px solid #ffffff1a;
  }
}
@media screen and (max-width: 640px) {
  .container {
    max-width: 475px;
  }
  .home-text {
    font-size: 3rem;
  }
  .title {
    font-size: 1.8rem;
  }
  .featured{
    margin-block: 2.5rem;
  }
  .navbar{
    height: 5rem;
  }
  .category-text {
    font-size: 1rem;
  }
  .navlink-gap {
    gap: 1rem;
  }
  .category-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
