@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg: white;
  --textColor: black;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
}
.dark {
  --bg: #0f172a;
  --textColor: #ddd;
  --softBg: #2e1f3a;
  --softTextColor: #a6a6a6;
}
html,
body {
  width: 100%;
  height: 100%;
  background: var(--bg);
  color: var(--textColor);
}
.container {
  max-width: 1380px;
  margin-inline: auto;
  padding-inline: 0.75rem;
}
@media screen and (max-width: 1536px) {
  .container {
    max-width: 1350px;
  }
}
@media screen and (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}
@media screen and (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}
